#wrap {}

#MainVisual {
    width: 100%;
}

#MainVisual .main {
    width: 100%;
    height: auto;
    position: relative;
}

.main img {
    width: 100%;
    height: 100vh;
}

#MainVisual .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#MainVisual .l_top {
    position: absolute;
    top: 93px;
    left: 242px;
}

.l_top p {
    color: #fff;
    font-size: 18px;
    font-family: 'ONE-Mobile-Title';

}

#MainVisual .r_bottom {
    position: absolute;
    right: 242px;
    bottom: 95px;
}

.r_bottom p {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.r_bottom p span {
    font-size: 30px;
}

/**************** Main 완성  추가 이미지 효과등을 고려해볼 것 *************/
#intro {
    width: 100%;
    height: 100vh;
}

#intro>span {
    width: 100%;
    height: 40px;
    background-color: #dbd3f8;
    display: block;
    font-size: 0;
}

#intro h2 {
    color: #953eb2;
    font-size: 70px;
    font-family: 'ONE-Mobile-Regular';
    padding-top: 100px;
    padding-left: 160px;
    font-weight: bold;
}

#intro .myself {
    padding-top: 80px;
    padding-left: 160px;
}

.myself p {
    font-size: 20px;
    color: #5a567d;
    font-weight: bold;
    background: url(../img/cont1_bluebar.png)no-repeat 0 0;
    padding-left: 20px;
}

.myself p>span {
    font-size: 30px;
    color: #b376c8;
}

.myself .photo {
    width: 400px;
    height: 450px;
    border: 1px solid #000;
    margin-top: 100px;
    margin-left: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
}

#intro .cont1 {
    display: flex;
}

/********************** 사진넣는 부분까지 완료 ***************************/
.cont1 .cont1in {
    display: flex;
    padding-left: 200px;
    padding-top: 80px;
}

.cont1in .identify {
    background: url(../img/cont1_line1.png)no-repeat;
}

.identify>ul {
    padding-left: 20px;
}

.identify .school h3 {
    padding-top: 5px;
}

.identify .school li {
    padding: 67px 0;
}

.identify .school li p {
    padding-top: 7px;
    font-size: 15px;
}

.identify .job li {
    padding-top: 55px;
}

.identify .job li p {
    padding: 7px 0;
    font-size: 15px;
}

.identify .drive {
    padding-top: 52px;
}

.identify .drive li {
    padding-top: 30px;
}

.identify .drive li p {
    font-size: 15px;
}

/************************  학력/경력/자격증 *******************************/
.cont1in .skill {
    margin-left: 170px;
    background: url(../img/cont1_skillbar.png)no-repeat;
    width: 395px;
    height: auto;
}

.skill>ul {
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.skill ul li {
    padding-top: 45px;
    width: 100%;
    height: 70px;
}

.skill ul li p span {
    display: inline-block;

}

.skill ul li p:nth-child(2) {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
    transition: all 1s;

}

.skill ul li p span:nth-child(1) {
    width: 90%;
    height: 3px;
    background-color: #dbd3f8;
    border-radius: 20px;
    float: left;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

}

.skill ul li p span:nth-child(3) {
    width: 10%;
    text-align: center;
    float: right;
}

.skill ul li p span:nth-child(2).skill_bar {
    width: 80%;
}

.skill ul li p span:nth-child(2) {
    height: 6px;
    background: linear-gradient(-90deg, #9795ef, #f9c5d1);
    border-radius: 20px;
    position: absolute;
    float: left;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    transition: all 2s;
    width: 0%;
    /* filter: drop-shadow(0 0 6px #fff5d7); */

}

.skill ul li p:nth-child(3) {
    font-size: 14px;
}

.skill>ul>li:nth-child(4)>p>span:nth-child(2).skill_bar {
    width: 70%;
}

.skill>ul>li:nth-child(5)>p>span:nth-child(2).skill_bar {
    width: 70%;
}

.skill>ul>li:nth-child(6)>p>span:nth-child(2).skill_bar {
    width: 50%;
}

/***************** skill *************/

#menu {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 80px;
    padding-top: 100px;
}

#menu img {
    width: 100%;
    height: 100%;
}

#menu .menubar {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-70%, -70%);
    width: 600px;
    height: auto;

}

.menubar li p {
    display: flex;
    font-size: 20px;
    line-height: 40px;
    font-family: 'ONE-Mobile-Regular';
    color: #fff;

}

.menubar li p>span {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    padding-right: 50px;
    width: 200px;
    height: 128px;
}

.menubar li:nth-child(2) {
    margin-bottom: 20px;
}

.menubar li:last-child p {
    background: url(../img/usetool.png)no-repeat 250px 10px;
    font-size: 0;
}

/************************* menubar ********************************/

#app {
    width: 100%;
    height: 100vh;
    background: url(../img/cont3_back.png)no-repeat 100% 100%;
}

#app h2 {
    color: #953eb2;
    font-size: 36px;
    font-family: 'ONE-Mobile-POP';
    padding-left: 160px;
    padding-bottom: 30px;
}

#app h4 {
    padding-left: 187px;
    background: url(../img/cont1_bluebar.png)no-repeat 160px -10px;
    padding-bottom: 50px;
}

#app>p {
    padding-left: 160px;
    width: 580px;
    padding-bottom: 50px;
}

#app .text {
    padding-left: 160px;
}

#app .text ul li {
    display: flex;
    padding: 5px 0;
}

#app .text ul li>span {
    font-weight: bold;
    width: 100px;
}

#app>span {
    display: block;
    margin-left: 160px;
    margin-top: 45px;
    margin-bottom: 45px;
    width: 200px;
    height: 45px;
    background: linear-gradient(-90deg, #f9c5d1, #9795ef);
    text-align: center;
    line-height: 45px;
    border-radius: 20px;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
}

#app .screen {
    padding-left: 160px;
    position: relative;
}

#app .screen ul li {
    width: 700px;
    height: 554px;
}

#app .screen ul li figure img {
    width: 100%;
}

#app .screen ul li .S_img {
    position: absolute;
    top: 23px;
    left: 184px;
    width: 655px;
    height: 457px;
    overflow: hidden;
    border-radius: 20px;

}

#app .screen ul li .S_img img {
    width: 100%;
    animation-name: SogonImg;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes SogonImg {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-78%);
    }
}

/************************** app끝 ***********************************/
/*web시작*/
.websection {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #e3e0fa;
    margin-top: 300px;
}

.web_pub {
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.web_pub>h2 {
    font-size: 36px;
    color: #752ea1;
    font-weight: 400;
    line-height: 80%;
    margin-bottom: 20px;
    text-transform: uppercase;
    width: 450px;
    font-family: 'ONE-Mobile-Title';
}

.web_pub>h2>span {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 120%;
    color: #3e3e6b;
    text-align: justify;
    box-sizing: border-box;
    border-left: 7px solid #3e3e6b;
    margin-top: 30px;
    padding-left: 10px;
    font-family: 'ONE-Mobile-Regular';
}


.Lweb_site {
    width: 450px;
    height: 520px;
    box-sizing: border-box;
    float: left;
}

.Rweb_site {
    float: right;
    position: relative;
    width: 720px;
    height: 520px;
}

.Rweb_site>ul>li {
    position: absolute;
    width: 1050px;
    left: 0;
    top: -100px;
    opacity: 0;
}


.Rweb_site>ul>li.on {
    opacity: 1;
}

.Rweb_site>ul>li>figure img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.Rweb_site>ul>li:nth-of-type(1)>figure img {
    width: 80%;
    margin-top: 30px;
    margin-left: 80px;
}

.Rweb_site>ul>li:nth-of-type(2)>figure img {
    width: 80%;
    margin-top: 30px;
    margin-left: 80px;
}

.web_Img {
    position: absolute;
    left: 107px;
    top: 60px;
    width: 792px;
    height: 498px;
    overflow: hidden;
}

.Rweb_site>ul>li:nth-of-type(1).on>.web_Img>img {
    width: 100%;
    animation: vips 10s linear 0.5s infinite alternate;
}

.Rweb_site>ul>li:nth-of-type(2).on>.web_Img>img {
    width: 100%;
    animation: jeju 8s linear 0.5s infinite alternate;
}

@keyframes vips {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-78%);
    }
}

@keyframes jeju {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-78%);
    }
}


.web_tab {
    position: relative;
    margin-bottom: 10px;
}

.web_tab>ul:after {
    content: "";
    clear: both;
    display: block;
}

.web_tab>ul>li {
    float: left;
    width: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.web_tab>ul>li.on>span {
    color: #752ea1;
    font-weight: 600;
}

.web_tab>ul>li>span {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #999;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.pub_controler {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 115%;
    height: 0;
}

.pub_controler>span:nth-of-type(1) {
    float: left;
    display: block;
    width: 15px;
    height: 15px;
    border-top: 1px solid #3E3E6B;
    border-left: 1px solid #3E3E6B;
    transform: rotate(315deg);
    cursor: pointer;
}

.pub_controler>span:nth-of-type(2) {
    float: right;
    display: block;
    width: 15px;
    height: 15px;
    border-top: 1px solid #3E3E6B;
    border-left: 1px solid #3E3E6B;
    transform: rotate(135deg);
    cursor: pointer;
    z-index: 1000;
}

.siteSlider {
    position: relative;
    width: 100%;
    height: 470px;
    background: #fff;
    transition: all 0.4s ease 0s;
}

.siteSlider>ul>li {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    left: 0;
    top: 0;
    opacity: 0;
    padding: 25px;
    box-sizing: border-box;
    transition: all 0.4s ease 0s;
}

.siteSlider>ul>li>h3 {
    font-size: 24px;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3e3e6b;


}

.siteSlider>ul>li:nth-of-type(1)>h3 {
    font-weight: bold;
    font-family: 'Vitro_core';
}

.siteSlider>ul>li:nth-of-type(2)>h3 {
    font-family: 'OTEnjoystoriesBA';
    font-weight: bold;
    font-size: 32px;

}

.siteSlider>ul>li>p {
    height: 80%;
    text-align: justify;
    pointer-events: none;
    position: relative;
}

.siteSlider>ul>li:nth-child(1) .color {
    background: url(../img/vipscolor_03.png)no-repeat 0 40px;
    display: block;
    height: 80px;
    margin-top: 30px;
    font-weight: bold;
}

.siteSlider>ul>li:nth-child(2) .color {
    background: url(../img/jejucolor.png)no-repeat 0 40px;
    display: block;
    height: 80px;
    margin-top: 30px;
    font-weight: bold;
}


.siteSlider>ul>li.on {
    opacity: 1;
    z-index: 100;
}

.siteSlider>ul>li>ul {
    width: 100%;
    position: relative;
    top: -15px;
}

.siteSlider>ul>li>ul:after {
    content: "";
    clear: both;
    display: block;
}

.siteSlider>ul>li>ul {
    margin-top: 40px;
}

.siteSlider>ul>li>ul>li {
    float: left;
    width: calc(50% - 10px);
    text-align: center;
    border: 1px solid #3E3E6B;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-right: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 3px 3px 0px #3E3E6B;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.siteSlider>ul>li>ul>li:nth-of-type(2) {
    margin-right: 0;
}

.siteSlider>ul>li>ul>li a {
    color: #3E3E6B;
    display: block;
    transition: all 0.4s ease 0s;
}

.siteSlider>ul>li>ul>li:hover {
    background: #c9bef1;
    ;
}

.siteSlider>ul>li>ul>li:hover a {
    color: #fff;
}

/******************** Rweb_site ***********************/

#pubsection {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #e3e0fa;
    padding-top: 300px;
}

.publishing {
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.publishing h2 {
    font-size: 36px;
    color: #752ea1;
    font-family: 'ONE-Mobile-Title';
    font-weight: 400;
    line-height: 80%;
    margin-bottom: 20px;
    width: 450px;
    text-transform: uppercase;
}

.publishing>h2>span {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 120%;
    color: #3e3e6b;
    text-align: justify;
    box-sizing: border-box;
    border-left: 7px solid #3e3e6b;
    margin-top: 30px;
    padding-left: 10px;
    font-family: 'ONE-Mobile-Regular';
}

.Lpub_site {
    width: 450px;
    height: 520px;
    box-sizing: border-box;
    float: left;
}

.Rpub_site {
    float: right;
    position: relative;
    width: 720px;
    height: 520px;
}

.Rpub_site>ul>li {
    position: absolute;
    width: 950px;
    left: 80px;
    top: -70px;
    opacity: 0;
}

.Rpub_site>ul>li.on {
    opacity: 1;
}

.pub_tab {
    position: relative;
    margin-bottom: 10px;
}

.pub_tab>ul:after {
    content: "";
    clear: both;
    display: block;
}

.pub_tab>ul>li {
    float: left;
    width: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.pub_tab>ul>li.on>span {
    color: #752ea1;
    font-weight: 600;
}

.pub_tab>ul>li>span {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #999;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.pub_arrow {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 115%;
    height: 0;
}

.pub_arrow>span:nth-of-type(1) {
    float: left;
    display: block;
    width: 15px;
    height: 15px;
    border-top: 1px solid #3E3E6B;
    border-left: 1px solid #3E3E6B;
    transform: rotate(315deg);
    cursor: pointer;
}

.pub_arrow>span:nth-of-type(2) {
    float: right;
    display: block;
    width: 15px;
    height: 15px;
    border-top: 1px solid #3E3E6B;
    border-left: 1px solid #3E3E6B;
    transform: rotate(135deg);
    cursor: pointer;
    z-index: 1000;
}

.pubSlider {
    position: relative;
    width: 100%;
    height: 470px;
    background: #fff;
    transition: all 0.4s ease 0s;
}

.pubSlider>ul>li {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    left: 0;
    top: 0;
    opacity: 0;
    padding: 25px;
    box-sizing: border-box;
    transition: all 0.4s ease 0s;
}

.pubSlider>ul>li>h3 {
    font-size: 24px;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3e3e6b;
}

.pubSlider>ul>li:nth-of-type(1)>h3 {
    font-weight: bold;
    font-family: 'Vitro_core';
}

.pubSlider>ul>li:nth-of-type(2)>h3 {
    font-family: 'establishRoomNo703OTF';
    font-weight: bold;
    font-size: 32px;

}

.pubSlider>ul>li>p {
    height: 80%;
    text-align: justify;
    pointer-events: none;
    position: relative;
}

.pubSlider>ul>li:nth-child(1) .pub_color {
    background: url(../img/legocolor.png)no-repeat 0 40px;
    display: block;
    height: 80px;
    margin-top: 30px;
    font-weight: bold;
}

.pubSlider>ul>li:nth-child(2) .pub_color {
    background: url(../img/baekmicolor.png)no-repeat 0 40px;
    display: block;
    height: 80px;
    margin-top: 30px;
    font-weight: bold;
}


.pubSlider>ul>li.on {
    opacity: 1;
    z-index: 100;
}

.pubSlider>ul>li>ul {
    width: 100%;
    position: relative;
    top: -15px;
}

.pubSlider>ul>li>ul:after {
    content: "";
    clear: both;
    display: block;
}

.pubSlider>ul>li>ul {
    margin-top: 40px;
}

.pubSlider>ul>li>ul>li {
    float: left;
    width: calc(50% - 10px);
    text-align: center;
    border: 1px solid #3E3E6B;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-right: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 3px 3px 0px #3E3E6B;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.pubSlider>ul>li>ul>li:nth-of-type(2) {
    margin-right: 0;
}

.pubSlider>ul>li>ul>li a {
    color: #3E3E6B;
    display: block;
    transition: all 0.4s ease 0s;
}

.pubSlider>ul>li>ul>li:hover {
    background: #c9bef1;
    ;
}

.pubSlider>ul>li>ul>li:hover a {
    color: #fff;
}

/* 푸터시작 */
#footer {
    width: 100%;
    position: relative;
}

#footer .f_main {
    width: 100%;
    height: auto;
    position: relative;
}

#footer .f_main img {
    width: 100%;
    height: 100vh;
}

#footer .f_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

#footer .f_logo img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#footer .me {
    position: absolute;
    bottom: 144px;
    left: 50%;
    transform: translateX(-50%);
}

#footer .me p {
    color: #fff;
    font-size: 20px;
    font-family: 'ONE-Mobile-Title';
}

/*************************** footer ********************************/