#wrap{
    width: 100%;
    min-width: 980px;
    position: relative;
}
#header{
    width: 100%; height: 120px;
    background-color: rgba(255, 255, 255, 0.1);
/*     height: 120px; */
/*     background-color: aqua; */
    z-index: 10000;
    position: absolute;
    top: 0; left: 0;
    border-bottom: 1px solid #fff;
}
.headerin{
    width: 1200px;
    margin: 0 auto;
    position: relative;
/*     z-index: 1000; */
    
}
.headerin .logo{
    position: absolute;
    top: 28px; left: 0;

}
.headerin .util{
    position: absolute;
    top: 20px; right: 0;
}
.headerin .util li{
    float: left;
    margin-left: 20px;
    color: #fff;
    font-weight: bold;
}
.headerin .gnb{
    position: absolute;
    top: 60px; right: 0;
}
.headerin .gnb li{
    float: left;
    margin-left: 170px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.headerin .gnb li:first-child{
    margin-left: 0;
}
/* 헤더 끝 */
#mainVisual{
    width: 100%; height: 1000px;
    background: url(../img/mainVisual.jpg) no-repeat center center ;
    position: relative;   
}
.mainbg{font-size: 0;}
.maintxt{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
/* 메인비쥬얼 끝 */

#container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.cont1{
    width: 100%;
    height: 280px;
    background-color: #fff9f9;
/*     position: relative; */
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    top: -218px; left: 50%; transform: translateX(-50%);

}

.cont1in .cont1in_top{
    width: 1200px;
    height: 47px;
    background-color: #f05223;
    position: relative;
    border-radius: 10px 10px 0px 0px;
}
.cont1in .cont1in_top h3{
    text-align: center;
    font-size: 26px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;    
}
.cont1in .cont1in_top p{
    text-align: right;
    font-weight: bold;
    position: absolute;
    top: 20px; right: 30px;
    color: #fff;    
}
.cont1in .cont1in_top span{
    color: #129401;
    font-weight: bold;
}
/* cont1in_top끝 */

.cont1in_bottom1 div{
    float: left;
    margin-top: 40px;
    margin-bottom: 45px;
    margin-left: 63px;
}
.cont1in_bottom1 .b1{
    width: 193px; height: 34px;
    background-color: #fbd583;
    border-radius: 10px;
    margin-right: 80px;
}
.cont1in_bottom1 .b1 p{
    margin-right: 20px;
    float: left;
    text-align: center;
    line-height: 34px;
}
.cont1in_bottom1 .b1 .on{
    color: #fff;
    background-color: #f05223;
    width: 62px; height: 34px;
    border-radius: 10px;
}
.cont1in_bottom1 .b1 p:last-child{
    margin-right: 0;

}
.cont1in_bottom1 .b2 p{
    float: left;
}
.cont1in_bottom1 .b2 p:first-child{
    /* background: url(../img/cont1_check.png)no-repeat 0 0; */
    
}
.cont1in_bottom1 .b2 p:last-child{
    width: 193px; height: 34px;
    background-color: #fbd583;
    border-radius: 10px;
    margin-left: 205px;
    text-align: left;
    line-height: 34px;
    padding-left: 20px;
    position: relative;
}
.cont1in_bottom1 .b2 p:last-child img{
    position: absolute;
    top: 8px; right: 20px;

}
.cont1in_bottom2 p{
    float: left;
    width: 250px; height: 52px;
    background-color: #fbd583;
    border-radius: 10px;
    margin-left: 60px;
/*     text-align: left; */
    line-height: 52px;
    padding-left: 20px;
    position: relative;
}
.cont1in_bottom2 img{
    position: absolute;
    top: 11px; right: 15px;
}

.cont1in_bottom2 p:nth-child(3){
    margin-right: 20px;
    padding-right: 30px;
}

.cont1in_bottom2 p:last-child{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    width: 85px; height: 52px;
    background-color: #f05223;
    border-radius: 10px;
    color: #fff;
    line-height: 52px;
    font-size: 24px;
    font-weight: bold; 
    text-align: center;
}
/* cont1끝 */

.cont2{
    width: 100%;

}
.cont2 h3{
    text-align: left;
    padding-left: 25px;
    padding-top: 134px;
    padding-bottom: 30px;
    color: #118802;
    font-size: 24px;
    font-weight: bolder;
    position: relative;
}
.cont2 h3 img{
    position: absolute;
    top: 132px; left: 0;

}
.cont2in{
    width: 1200px;
    margin: 0 auto;
}
.cont2in li{
    float: left;
    width: 285px; height: 400px;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
}
.cont2in li:last-child{
    margin-right: 0;
}
.cont2in li .over{
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%; height: 100%;
    color: #fff;
    opacity: 0;
    transition: all 1s;

}
.cont2in li .over p{
    position: absolute;
    bottom: 97px; left: 40px;
}
.cont2in li .over p:first-child{
    font-weight: bold;
    font-size: 20px;
}
.cont2in li .over p:last-child{
    position: absolute;
    bottom: 40px; left: 40px;
}
.cont2in li .over span{
    color: #f47800;
    font-size: bold;
}

.cont2in li:hover .over{
    opacity: 1;
}
/* cont2 FIN */
#footer{
    width: 100%;
    background-color: #f8f8f8;
    margin-top: 100px;
}
.footerin{
    width: 1200px; 
    margin: 0 auto;
    padding-bottom: 60px;
}
.footerin .ft_top{
    padding-top: 44px;
}
.footerin .ft_top div{
    width: 187px;
    float: left;
    margin-right: 150px;
}
.footerin .ft_top div:last-child{
    margin-right: 0;
}
.footerin .ft_top div h3{
    margin-bottom: 30px;
}
.footerin .ft_top div li{
    margin-bottom: 10px;

}
/* ft_top fin */
.ft_bottom{
    width: 100%;
    background: url(../img/footer.jpg)no-repeat center center;
}
.ft_bottom .ft_bottomin{
    width: 1200px; height: 182px;
    margin: 0 auto;
    position: relative;
}
.ft_bottomin a{
    float: left;
    margin-left: 5px;
}
.ft_bottomin .box3{
    position: absolute;
    bottom: 30px; right: 33px;
}
/* footer FIN */

